*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

li img{
    width: 1.3em;
}

.user-logo{
    width: 1.7em;
}

/*Header*/

.header{
    height: 15vh;
    display: flex;
}

.nav{
    width: 50vw;
    height: 5vh;
    padding: 15px;
}

.nav ul{
    display: flex;
    justify-content: start;
    align-items: center;
}

.nav ul li{
    margin-left: 20px;
}

.nav ul li a{
    color: black;
    font-size: 14px;
}
.nav2{
    width: 50vw;
    height: 5vh;
    padding: 15px;
}

.nav2 ul {
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav2 ul li{
    margin-left: 20px;
}

.nav2 ul li a{
    color: black;
    font-size: 14px;
}

.link:hover{
    text-decoration: underline;
}

/* Main */

.main{
    height: 75vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content{
    width: 60vh;
    height: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marca{
    margin-top: 25px;
    margin-bottom: 25px;
}

.marca img{
    width: 350px;
    
}

.botones{
    margin-top: 35px;
}

button{
    height: 40px;
    font-size: 14px;
    background-color: #F2F3F4;
    border: none;
    border-radius: 2px;
    margin-right: 5px;
}

button:hover{
    border: 1px solid lightgrey;
}

.btn-search{
    width: 150px;
}

.btn-lucky{
    width: 160px;
}

.data{
    margin-top: 30px;
}

.data p{
    font-size: 14px;
}

.data2{
    margin-top: 40px;
}

.data2 p{
    font-size: 14px;
}

.idioma{ 
    color: blue;
}

.idioma:hover{
    text-decoration: underline;
}

/* Footer */

.footer{
    background-color: #F2F2F2;
    height: 10vh;
    display: flex;
    flex-direction: column;
}

.footer-nav{
    margin-left: 20px;
    height: 5vh;
    margin-top: 10px;
}

.footer-nav2{
    display: flex;
}

.footer-nav-left{
    width: 35vw;
}

.footer-nav-left ul{
    display: flex;
    justify-content: start;
    align-items: center;
}

.footer-nav-left ul li{
    margin-left: 30px;
}

.footer-nav-left ul li a{
    color: black;
    font-size: 15px;
}

.footer-nav-center{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.hoja{
    width: 1.25em;
}

.footer-nav-right{
    width: 35vw;
}

.footer-nav-right ul{
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer-nav-right ul li{
    margin-right: 20px;
}

.footer-nav-right ul li a{
    color: black;
    font-size: 15px;
}